<footer class="footer">
    <div class="footer-col col-logo">
        <a class="footer-logo" href="/">
            <img src="/images/tekitonalogo.png" alt="ロゴ画像"/>
        </a>
    </div>
    <div class="footer-col col-nav">
        <ul class="footer-nav nav-links">
            {% include sns.html %}
        </ul>
        <ul class="footer-nav nav-links">
            {% include nav-links.html %}
        </ul>
    </div>
    <div class="footer-col col-messe">
        <h3>Learn Enough <span> to Be Dangerous</span></h3>
    </div>
</footer>